= link_to "Funk Names", search_names_ques_path
= render 'ques/search'

%h4 These Guys are in Queue
= link_to "I need help!", new_que_path
= link_to "Hide Students", "javascript:void(0);", class: "hide_students"
= link_to "Show Students", "javascript:void(0);", class: "show_students"
= link_to "Remove Students", "javascript:void(0);", class: "remove_students"
%ul.students
  - @people_in_que.each do |person|
    = render 'ques/student', student: person

%h4 People Resolved

.resolved_students
  - @people_who_are_inifintely_smarter_then_they_were_before_but_still_cant_spell.each do |person|
    = person.name
    helped at
    = person.updated_at.strftime("%l:%M%p")
    %br


%a.do_something_cool{href: "javascript:void(0);"} Cool Stuff
